
.jumbotron{
    background-color: darkmagenta !important;
    background-image: url(images/swz01_anc_slider.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    color: white;

    margin: 60px;
    width: 1000px;
    height: 300px;
}


.footer{
    background-color: darkgray;
    height: 250px;
}